<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/titulos}"> 
				<img alt="Algoworks"
					 class="img-responsive" 
					 th:src="@{/img/algaworks-white-280x51.png}"
					 style="height: 100%; width: auto" />
			</a>
		</div>
	</div>
</nav>
</html>