<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro de Título</title>
</head>

<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" th:action="@{/titulos}"
		th:object="${titulo}">

		<div layout:include="MensagensError"></div>
		<div layout:include="MensagensGeral"></div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="panel-title pull-left">Novo título</h3>
						<a th:href="@{/titulos}" class="pull-right">Voltar para pesquisa</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<input type="hidden" th:field="*{codigo}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('descricao')} ? 'has-error' : ''">
					<label for="description" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4">
						<input th:field="*{descricao}" type="text" class="form-control"
							id="description" placeholder="Descrição" />
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('dateVencimento')} ? 'has-error' : ''">
					<label for="finalDate" class="col-sm-2 control-label">Data
						de vencimento</label>
					<div class="col-sm-2">
						<div class="input-group date">
							<input id="finalDate" 
								   placeholder="Data de vencimento"
								   type="text" 
								   class="form-control"
								   data-provide="datepicker"
								   data-date-format="dd/mm/yyyy"
								   data-date-language="pt-BR"
								   data-date-autoclose="true" 
								   data-date-today-highlight="true"
								   th:field="*{dateVencimento}"/>
								   <span class="input-group-addon">
									<i class="fa fa-calendar"></i>
								   </span>
						</div>
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('valor')} ? 'has-error' : ''">
					<label for="value" class="col-sm-2 control-label">Valor</label>
					<div class="col-sm-2">
						<input th:field="*{valor}" 
							   type="text" 
							   class="form-control js-value" 
							   id="value"
							   placeholder="Valor" />
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Status</label>
					<div class="col-sm-2">
						<select name="status" class="form-control" th:field="*{status}">
							<option th:each="status : ${todosStatusTitulo}"
								th:value="${status}" th:text="${status.descricao}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

</html>