<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Pesquisa de Títulos</title>
</head>

<section layout:fragment="conteudo">

	<div layout:include="MensagensGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="panel-title pull-left">Pesquisa de títulos</h3>
					<a th:href="@{/titulos/novo}" class="pull-right">Novo título</a>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:action="@{/titulos}" method="GET" th:object="${filtro}" >
				<div class="row">
					<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
						<div class="input-group">
			                <!-- <div class="input-group-btn search-panel">
			                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			                    	<span id="search_concept">Filtrar por </span> <span class="caret"></span>
			                    </button>
			                    <ul class="dropdown-menu" role="menu">
			                      <li><a href="#codigo">Código</a></li>
			                      <li><a href="#descricao">Descrição</a></li>
			                      <li><a href="#dateVencimento">Data</a></li>
			                      <li><a href="#valor">Valor </a></li>
			                      <li class="divider"></li>
			                      <li><a href="#status">Status</a></li>
			                    </ul>
			                </div> -->
			                <input type="hidden" name="search_param" value="all" id="search_param" />         
			                <input type="text" class="form-control" th:field="*{descricao}" placeholder="Pesquisar por..." autofocus="autofocus" />
			                <span class="input-group-btn">
			                    <button class="btn btn-default" type="submit">
			                    	<span class="glyphicon glyphicon-search"></span>
			                    </button>
			                </span>
		            	</div>
					</div>
				</div>
			</form>
			
			<br />
		
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th class="text-left">Descrição</th>
							<th class="text-center col-md-2">Data de vencimento</th>
							<th class="text-right col-md-2">Valor</th>
							<th class="text-center col-md-2">Status</th>
							<th class="col-md-2"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="titulo : ${titulos}">
							<td class="text-center" th:text="${titulo.codigo}"></td>
							<td class="text-left" th:text="${titulo.descricao}"></td>
							<td class="text-center" th:text="${{titulo.dateVencimento}}"></td>
							<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
							<td class="text-center" th:attr="data-role=${titulo.codigo}">
								<span th:text="${titulo.status.descricao}" class="label"
								th:classappend="${titulo.pendente} ? 'label-warning':'label-success'">
							</span>
							</td>
							<td class="text-center">
								<a  th:href="@{/titulos/{codigo}(codigo = ${titulo.codigo})}"
									class="btn btn-link btn-xs" 
									rel="tooltip" 
									data-placement="top"
									title="Editar"> 
									<i class="fa fa-pencil fa-fw"></i>
								</a> 
								<a  class="btn btn-link btn-xs" 
									data-toggle="modal"
									data-target="#confirmacaoExclusaoModal"
									th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
									rel="tooltip" 
									data-placement="top" 
									title="Excluir"> <i
									class="fa fa-trash text-danger"></i>
								</a>
								 <a class="btn btn-link btn-xs js-atualizar-status"
									th:href="@{/titulos/{codigo}/receber(codigo = ${titulo.codigo})}"
									th:attr="data-codigo=${titulo.codigo}" 
									rel="tooltip"
									data-placement="top" 
									title="Receber"> 
									<i class="fa " 
									   th:classappend="${titulo.pendente} ? 'fa-square-o text-warning':'fa-check-square-o text-success'"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(titulos)}">
							<td colspan="6" class="text-center"><b>Não há titulos</b></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div layout:include="DialogoConfirmacaoExclusao"></div>

	</div>
</section>

</html>